body
{
    text-align: center;
}
#welcome {
    position: center;
    color: #FFFFFF;
    bottom: 0;
    background: url("https://envdojo-org.github.io/envdojo/Envninja/img/IMG_0219.JPG");
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9;
}
#bio {
    font-family: Lato, sans-serif;
    padding: 50px;
    text-align: center;
}
h1 {
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 300;
}

.line {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}
#contact iframe
{
    width: 100%;
}
.contact_1 h3
{
    display: inline;
}
.contact_1 a
{
    text-shadow: none;
}


#videos iframe
{
    width: 80%;
}

.my_nav_bar
{
    position:sticky;
    top:0;
    z-index:99999;
    background: linear-gradient(#000 0%, #000 100%);}
    

input
{
    background: white;
    width: 250px;
    border-radius: 20px;
}

h5 button
{
  width: 75px;
  height: 37.5px;
  font-size: 17.5px;
  background-color: #00E676;
  border-radius: 20px;
  color: white;
}

.box 
{
    background-color: lightskyblue;
    border-radius: 20px;
    border-width: 1px;
    border-color: black;
    text-align: left;
    margin-bottom: 10px;
}

#enterstate {
    background-image: url('/css/searchicon.png'); 
    background-position: 10px 12px; 
    background-repeat: no-repeat; 
    width: 100%; 
    font-size: 16px; 
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd; 
    margin-bottom: 12px;
  }
  
  #stateUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #stateUL li a {
    border: 1px solid #ddd; 
    margin-top: -1px; 
    background-color: #f6f6f6; 
    padding: 12px; 
    text-decoration: none; 
    font-size: 18px; 
    color: black; 
    display: block; 
  }
  
  #stateUL li a:hover:not(.header) {
    background-color: #eee; 
  }

h8 img
{
  width: 100px;
  margin-top: 20px;
  margin-left: 100px;
  text-align: center;
}

h9
{
  color: white;
}